<!DOCTYPE html>
{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-users" aria-hidden="true"></i> About Our Group</h1>
    <p>This project is developed by:
      <a id="developer1" href="https://github.com/lisahchen" data-toggle="tooltip" data-placement="top">Lisa Chen</a>,
      <a id="developer2" href="https://github.com/Mbsteiger" data-toggle="tooltip" data-placement="top">Matthew Steiger</a>, and
      <a id="developer3" href="https://github.com/gichehak" data-toggle="tooltip" data-placement="top">Kevin Gicheha</a></p>
  </div>
  <div class="container">
    <h2>Lisa Chen</h2>
    <img src="static/img/Lisa.jpg" class="img-thumbnail" alt="Lisa Chen" width="301" height="301"> 
  </div>
  <div class="container">
    <h2>Matt Steiger</h2>
    <img src="static/img/Matt.png" class="img-thumbnail" alt="Matt Steiger" width="304" height="236">
  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock%}
