<!DOCTYPE html>
{% extends "home-base.html"%}
{% block title %}Edit Customer{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Edit Customer:</h1>
    <form action="/customer/edit/{{customer.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{customer.name}}" required="true">
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" name="address" required="true">{{customer.address}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
