<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title%}{% endblock%} - Final Project</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- SweetAlert CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
  <!-- Songbase CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/final-project.css') }}">
  {% endblock%}
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
         <img src="{{ url_for('static', filename='img/logo.png') }}"
          alt="Final Project Logo" width="150">
       </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
               <span class="sr-only">(current)</span>
             </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customer-all">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order-all">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
  {% block page_content%}
  {% endblock%}

  {% block scripts%}
  <!-- jQuery full version first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <!-- SweetAlert JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  {% endblock%}
</body>

</html>
