<!DOCTYPE html>
{% extends "home-base.html"%}
{% block title %}Delete Order{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-folder" aria-hidden="true"></i> Delete the following order:</h1>
    <form action="/order/delete/{{order.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{order.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input class="form-control" type="text" name="year" value="{{order.year}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Customer</label>
        <input class="form-control" type="text" name="customer" value="{{order.customer.name}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="desctription" required="true" readonly="true">{{order.desctription}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}
{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
